In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
bpp_df = pd.read_csv('crypto_data_updated_13_november.csv')
bpp_df

,Date,Close (BTC),Volume (BTC),Close (ETH),Volume (ETH),Close (USDT),Volume (USDT),Close (BNB),Volume (BNB)
0,2017-11-13 00:00:00+00:00,6559.490234,6263249920,316.716003,1041889984,1.009350,767884032,1.686620,12238800
1,2017-11-14 00:00:00+00:00,6635.750000,3197110016,337.631012,1069680000,1.006830,429857984,1.592580,7829600
2,2017-11-15 00:00:00+00:00,7315.540039,4200880128,333.356995,722665984,1.003180,449671008,1.530450,7615500
3,2017-11-16 00:00:00+00:00,7871.689941,5123809792,330.924011,797254016,1.002120,650278976,1.577920,8928640
4,2017-11-17 00:00:00+00:00,7708.990234,4651670016,332.394012,621732992,1.001390,639398016,1.510360,8508840
...,...,...,...,...,...,...,...,...,...
1822,2022-11-09 00:00:00+00:00,15880.780273,102905151606,1100.169800,38864492427,0.998600,143975136007,266.853119,3191459132
1823,2022-11-10 00:00:00+00:00,17586.771484,83202283721,1299.464600,28581002122,0.997835,114807119109,304.080048,2461275687
1824,2022-11-11 00:00:00+00:00,17034.292969,55871616488,1287.221069,20920539099,0.998218,74933538836,289.820557,1625174426
1825,2022-11-12 00:00:00+00:00,16799.185547,29717699419,1255.268311,10964962767,0.998616,40298138489,282.341278,1189401392
1826,2022-11-13 00:00:00+00:00,16550.126953,25153593344,1228.583984,9734809600,0.998950,36130271232,279.073547,904519232

In [3]:
bpp_df .head()

,Date,Close (BTC),Volume (BTC),Close (ETH),Volume (ETH),Close (USDT),Volume (USDT),Close (BNB),Volume (BNB)
0,2017-11-13 00:00:00+00:00,6559.490234,6263249920,316.716003,1041889984,1.00935,767884032,1.68662,12238800
1,2017-11-14 00:00:00+00:00,6635.750000,3197110016,337.631012,1069680000,1.00683,429857984,1.59258,7829600
2,2017-11-15 00:00:00+00:00,7315.540039,4200880128,333.356995,722665984,1.00318,449671008,1.53045,7615500
3,2017-11-16 00:00:00+00:00,7871.689941,5123809792,330.924011,797254016,1.00212,650278976,1.57792,8928640
4,2017-11-17 00:00:00+00:00,7708.990234,4651670016,332.394012,621732992,1.00139,639398016,1.51036,8508840

In [4]:
bpp_df.shape

(1827, 9)

In [5]:
bpp_df.columns

Index(['Date', 'Close (BTC)', 'Volume (BTC)', 'Close (ETH)', 'Volume (ETH)',
       'Close (USDT)', 'Volume (USDT)', 'Close (BNB)', 'Volume (BNB)'],
      dtype='object')

In [6]:
bpp_df.info

<bound method DataFrame.info of                            Date   Close (BTC)  Volume (BTC)  Close (ETH)  \
0     2017-11-13 00:00:00+00:00   6559.490234    6263249920   316.716003
1     2017-11-14 00:00:00+00:00   6635.750000    3197110016   337.631012
2     2017-11-15 00:00:00+00:00   7315.540039    4200880128   333.356995
3     2017-11-16 00:00:00+00:00   7871.689941    5123809792   330.924011
4     2017-11-17 00:00:00+00:00   7708.990234    4651670016   332.394012
...                         ...           ...           ...          ...
1822  2022-11-09 00:00:00+00:00  15880.780273  102905151606  1100.169800
1823  2022-11-10 00:00:00+00:00  17586.771484   83202283721  1299.464600
1824  2022-11-11 00:00:00+00:00  17034.292969   55871616488  1287.221069
1825  2022-11-12 00:00:00+00:00  16799.185547   29717699419  1255.268311
1826  2022-11-13 00:00:00+00:00  16550.126953   25153593344  1228.583984

      Volume (ETH)  Close (USDT)  Volume (USDT)  Close (BNB)  Volume (BNB)
0       1041889984      1.009350      767884032     1.686620      12238800
1       1069680000      1.006830      429857984     1.592580       7829600
2        722665984      1.003180      449671008     1.530450       7615500
3        797254016      1.002120      650278976     1.577920       8928640
4        621732992      1.001390      639398016     1.510360       8508840
...            ...           ...            ...          ...           ...
1822   38864492427      0.998600   143975136007   266.853119    3191459132
1823   28581002122      0.997835   114807119109   304.080048    2461275687
1824   20920539099      0.998218    74933538836   289.820557    1625174426
1825   10964962767      0.998616    40298138489   282.341278    1189401392
1826    9734809600      0.998950    36130271232   279.073547     904519232

[1827 rows x 9 columns]>

In [7]:
bpp_df.describe

<bound method NDFrame.describe of                            Date   Close (BTC)  Volume (BTC)  Close (ETH)  \
0     2017-11-13 00:00:00+00:00   6559.490234    6263249920   316.716003
1     2017-11-14 00:00:00+00:00   6635.750000    3197110016   337.631012
2     2017-11-15 00:00:00+00:00   7315.540039    4200880128   333.356995
3     2017-11-16 00:00:00+00:00   7871.689941    5123809792   330.924011
4     2017-11-17 00:00:00+00:00   7708.990234    4651670016   332.394012
...                         ...           ...           ...          ...
1822  2022-11-09 00:00:00+00:00  15880.780273  102905151606  1100.169800
1823  2022-11-10 00:00:00+00:00  17586.771484   83202283721  1299.464600
1824  2022-11-11 00:00:00+00:00  17034.292969   55871616488  1287.221069
1825  2022-11-12 00:00:00+00:00  16799.185547   29717699419  1255.268311
1826  2022-11-13 00:00:00+00:00  16550.126953   25153593344  1228.583984

      Volume (ETH)  Close (USDT)  Volume (USDT)  Close (BNB)  Volume (BNB)
0       1041889984      1.009350      767884032     1.686620      12238800
1       1069680000      1.006830      429857984     1.592580       7829600
2        722665984      1.003180      449671008     1.530450       7615500
3        797254016      1.002120      650278976     1.577920       8928640
4        621732992      1.001390      639398016     1.510360       8508840
...            ...           ...            ...          ...           ...
1822   38864492427      0.998600   143975136007   266.853119    3191459132
1823   28581002122      0.997835   114807119109   304.080048    2461275687
1824   20920539099      0.998218    74933538836   289.820557    1625174426
1825   10964962767      0.998616    40298138489   282.341278    1189401392
1826    9734809600      0.998950    36130271232   279.073547     904519232

[1827 rows x 9 columns]>

In [8]:
bpp_df.describe(include ='object')

                             Date
count                        1827
unique                       1827
top     2017-11-13 00:00:00+00:00
freq                            1

In [10]:
bpp_df = bpp_df.drop_duplicates()
bpp_df

,Date,Close (BTC),Volume (BTC),Close (ETH),Volume (ETH),Close (USDT),Volume (USDT),Close (BNB),Volume (BNB)
0,2017-11-13 00:00:00+00:00,6559.490234,6263249920,316.716003,1041889984,1.009350,767884032,1.686620,12238800
1,2017-11-14 00:00:00+00:00,6635.750000,3197110016,337.631012,1069680000,1.006830,429857984,1.592580,7829600
2,2017-11-15 00:00:00+00:00,7315.540039,4200880128,333.356995,722665984,1.003180,449671008,1.530450,7615500
3,2017-11-16 00:00:00+00:00,7871.689941,5123809792,330.924011,797254016,1.002120,650278976,1.577920,8928640
4,2017-11-17 00:00:00+00:00,7708.990234,4651670016,332.394012,621732992,1.001390,639398016,1.510360,8508840
...,...,...,...,...,...,...,...,...,...
1822,2022-11-09 00:00:00+00:00,15880.780273,102905151606,1100.169800,38864492427,0.998600,143975136007,266.853119,3191459132
1823,2022-11-10 00:00:00+00:00,17586.771484,83202283721,1299.464600,28581002122,0.997835,114807119109,304.080048,2461275687
1824,2022-11-11 00:00:00+00:00,17034.292969,55871616488,1287.221069,20920539099,0.998218,74933538836,289.820557,1625174426
1825,2022-11-12 00:00:00+00:00,16799.185547,29717699419,1255.268311,10964962767,0.998616,40298138489,282.341278,1189401392
1826,2022-11-13 00:00:00+00:00,16550.126953,25153593344,1228.583984,9734809600,0.998950,36130271232,279.073547,904519232